.roster-chose {
    color: #280f10;
    background: #c0f2ff;
}

.roster-hidden {
    /*color: #ffffff;*/
}

.roster-workplace {
    padding-top: 5%;
    width: 1000px;
    margin: 0 auto;
}

.flash-begin {
    width: 180px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: 20px 10px 0 -90px;
}

.roster-group-select{
    width: 180px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: 20px 0 20px -90px;
    border-radius: 10px;
}

.roster-content {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}